<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <p-card styleClass="relative m-auto w-10 md:w-5 text-center transform border-2 border-dotted border-round-2xl shadow-5 p-4 mt-5">
    <ng-template pTemplate="header">
      <div class="flex justify-content-center align-items-center text-2xl uppercase">
        Login here
      </div>
    </ng-template>


    <div class="form">
      <div class="field">
        <label for="username" class="line-height-3 w-10 m-auto my-2 text-xl text-left pl-3">Username</label>
        <p-inputGroup styleClass="w-10 m-auto">
          <i class="pi pi-user h-3rem w-2 flex align-items-center justify-content-center bg-bluegray-100"></i>
          <input type="text" pInputText class="h-3rem w-10 appearance-none outline-none surface-overlay text-base p-2  border-round-right border-primary">
        </p-inputGroup>
      </div>
      <div class="field">
        <label for="password" class="line-height-3 w-10 m-auto my-2 text-xl text-left pl-3">Password</label>
        <p-inputGroup styleClass="w-10 m-auto">
          <i class="pi pi-lock h-3rem w-2 flex align-items-center justify-content-center bg-bluegray-100"></i>
          <input type="password" pInputText class="h-3rem w-10 appearance-none outline-none surface-overlay text-base p-2  border-round-right border-primary">
        </p-inputGroup>
      </div>
      <div class="field">
        <div class="w-10 m-auto">
          <p-button icon="pi pi-iconName" id="login" severity="info" label="login" styleClass="p-2 h-3rem w-full mt-2" ></p-button>
        </div>
      </div>
    </div>
    <div class="field p-2 text-sm mt-3">
      Charles Kahuho - C026-01-0941/2022
    </div>
  </p-card>


  <ion-alert
  trigger="login"
  header="Thanks"
  message =" thanks for logging in . this is the furthest you can go"
  [buttons]="alertButtons"
></ion-alert>



</ion-content>
